//在屏幕为1024px
@media (min-width: 1024px) {
    main[rol="main"]{
        #carousel-example-generic{
            width: 69%;
            margin-left: 31%;
        }
    }
}
@media (max-width: 1024px) {
    main[rol="main"]{
        #carousel-example-generic{
            width: 100%;
        }
    }
}